



body {
  padding: 20px;
  background-image: url("https://image.shutterstock.com/z/stock-photo-judges-panel-backdrop-for-us-drag-race-1909812565.jpg");

}


#container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  color: black;
  font-style: bold;



}

div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10%;
}

div > header > a > img {
  border-radius: 10%;
}

div > article {
  background-color: aquamarine;
  margin: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: center;
  border-radius: 10%;
 
 

}
div > article > img {
  border-radius: 10%;
  max-height: auto;
  max-width: 40em;
}

div > section {
  align-content: center;
  margin: 40px;
  border-style: solid;
  border-radius: 10%;
  border-color: aquamarine;
}

#quote {
  padding: 20px;
  border: 5px;
  border-color: black;
}

#winnerSection {
  background-color: aquamarine;
  align-items: center;
  text-align: center;
}

#winnerSection > h3 {
  font-size: 50px;
  
}

#winningImage {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  border-radius: 10%;
}

#winnersList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

#winnerListLi {
  margin: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: auto;
  background-color: white;
  border-radius: 10%;
}

#selector {
  margin: 5em;
  padding: 5em;
  background-color: aquamarine;
}
#missCListLi{
  margin: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: auto;
  background-color: white;
  border-radius: 10%;
}
#missCImage {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  border-radius: 10%;
}

#missCSection {
  background-color: aquamarine;
  align-items: center;
  text-align: center;
}
#missCList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

#missCSection > h3 {
  font-size: 50px;
}